@function calcFluidPaddingTop($f-min, $f-max, $w-min, $w-max) {
  $k: ($f-max - $f-min)/ ($w-max - $w-min);
  $b: $f-min - $k * $w-min;
  $b: $b + 1px;                                //пиксели как единицы измерения
  @return calc(
    #{$k} * 100vw + #{$b}
  );                                       //100vw как разрешение экарана по ширине
}

@function calcFluidPaddingButtom($f-min, $f-max, $w-min, $w-max) {
  $k: ($f-max - $f-min)/ ($w-max - $w-min);
  $b: $f-min - $k * $w-min;
  $b: $b + 1px;
  $x: calc(#{$k} * 100vw + #{$b});
  @return calc(#{$x} / 3 * 2);
}
