@mixin flex {
  display: flex;
  align-items: center;
}
@mixin text($font-size, $color) {
  font-family: $regular-font, sans-serif;
  color: $color;
  font-size: $font-size;
  line-height: 1.5;
}
@mixin title($font-size) {
  font-family: $title-font, serif;
  color: $font-white;
  font-size: $font-size;
}
@mixin hover-states {
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
@mixin btn {
  display: block;
  width: fit-content;
  height: 60px;
  background: linear-gradient(
    50deg,
    #496bfe,
    #496bfe 38%,
    $btn-color 38%,
    $btn-color
  );
  font-family: "Aleo", serif;
  color: $font-white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 60px;
  border-width: 0;
  cursor: pointer;
  @include hover-states;
  &:hover {
    filter: drop-shadow(0 0 5px black);
  }
  &:active {
    filter: brightness(0.8) drop-shadow(0 0 5px black);
  }
}

@mixin fluidPadding($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  padding-top: $f-min;
  padding-bottom: $f-min;
  @media (min-width: $w-min) {
    @if ($fallback) {
      padding-top: 50px;
      padding-bottom: 35px;
    }
    padding-top: calcFluidPaddingTop($f-min, $f-max, $w-min, $w-max);
    padding-bottom: calcFluidPaddingButtom($f-min, $f-max, $w-min, $w-max);
  }
  @media (min-width: $w-max) {
    padding-top: $f-max;
    padding-bottom: $f-max;
  }
}
