$regular-font: "JosefinSans-Light";
$logo-font: "JosefinSans-Bold";
$title-font: "Aleo";
$font-white: #fff;
$font-light-grey: rgb(232, 232, 232);
$btn-color: #5474fd;

// Переменные для брейкпоинтов  медиа запросов ------------
$break-xl: "(min-width: 1200px)";
$break-l: "(max-width: 1199.98px) and (min-width: 992px)";
$break-m: "(max-width: 991.98px) and (min-width: 768px)";
$break-ms: "(max-width: 767.98px) and (min-width: 576px)";
$break-s: "(max-width: 575.98px) and (min-width: 360px)";
$break-xs: "(max-width: 359.98px)";

